{{ define "body" }}
Hello!
You recently requested a link to reset your password.

Click on the link below to reset your password
{{ .Link }}

This link is only valid for 60 minutes.

--
GoWidgets Team (Matthew)
{{ end }}